<!DOCTYPE html>
<html lang="en">		


<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/flaskHTML2.css')}}"/>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

<link href="https://fonts.googleapis.com/css?family=Slabo+27px|Yanone+Kaffeesatz" rel="stylesheet">


<head>
	<title>Hoax Hunter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="font-family: 'Slabo 27px', serif;">
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" style="font-size: 30px; color: white;">Hoax Hunter</a>
			</div>
			<div style="float: right;">
				<button class="btn btn-warning navbar-btn">TRENDS</button>
				&nbsp;&nbsp;&nbsp;
				<button class="btn btn-warning navbar-btn">
				SEARCH</button>
			<div>	
		</div>			
	</nav>
	
	<div id="home">
		<form action="{{ url_for('userPage') }}" method="POST" style="position: absolute; margin-left: 9vw; margin-top: 40vh; font-family: 'Slabo 27px', serif;">
			<span style="color: white; font-size: 40px; margin-left: 24vw;">Truth is just a click away</span>
			<br>
			<br>
			<input type="text" name="userInput" placeholder="Search a News..." style="width: 70vw; height: 10vh; padding: 2px 4px 2px 15px; font-size: 27px; border-radius: 4px; border:none; ">
			<button class="btn btn-warning" style="height: 10vh; width: 8vw;margin-top: -10px; font-family: 'Slabo 27px', serif; font-size: 20px;">Search</button>

		</form>
	</div>
	
	{% for text in headline %}
	<div class="dataInput">
			
		<img src = {{ text[1] }} alt="image comes here" class="imgInput">
		
		<h4 style="margin-left: 18vw;"> {{  text[0]  }} </h4>
		{% if text[2] == 0 %}
		<h3 style="margin-left: 32vw;background-color: green; color:white; margin-top:8vh; text-align: center;">&nbsp;&nbsp;&#x2713;Authentic&nbsp;&nbsp;</h3>
		{% elif text[2] == 1 %}
		<h3 style="margin-left: 32vw; background-color: red;color:white; margin-top:10vh; text-align: center;">&nbsp;&nbsp;&#10006;Fake&nbsp;&nbsp;</h3>
		{% endif %}

	</div>		
	{% endfor %}
	

</body>

</html>		
